<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gfs.operatecenter.dao.HomeModule.HomeModuleMapper">

	<select id="queryPcModuleByRequest" parameterType="com.gfs.operatecenter.entity.vo.homemodule.HomePageVoRequest" resultType="com.gfs.operatecenter.entity.vo.homemodule.HomeModuleVo">
		SELECT
		cthm.*
		FROM
		cms_template_homeinfo_module_pc_relate cthmr
		LEFT JOIN cms_template_homemodule cthm ON cthm.id = cthmr.module_id
		LEFT JOIN cms_template_homeinfo cthi ON cthi.id = cthmr.home_id
		WHERE
		cthi.book_id = #{bookId}
		AND cthi.home_grade = #{grade}
		AND cthi.region = #{region}
		AND cthm.`status` = 'YES'
		ORDER BY
		cthm.module_type,
		cthm.sort

	</select>

	<select id="queryLeftPcModuleByRequest" parameterType="com.gfs.operatecenter.entity.vo.homemodule.HomePageVoRequest" resultType="com.gfs.operatecenter.entity.vo.homemodule.HomeModuleVo">
		SELECT
		cthm.*
		FROM
		cms_template_homeinfo_module_left_pc_relate cthmr
		LEFT JOIN cms_template_homemodule cthm ON cthm.id = cthmr.module_id
		LEFT JOIN cms_template_homeinfo cthi ON cthi.id = cthmr.home_id
		WHERE
		cthi.book_id = #{bookId}
		AND cthi.home_grade = #{grade}
		AND cthi.region = #{region}
		AND cthm.`status` = 'YES'
		ORDER BY
		cthm.module_type,
		cthm.sort

	</select>

   <select id="queryFunPcModuleByRequest" parameterType="com.gfs.operatecenter.entity.vo.homemodule.HomePageVoRequest" resultType="com.gfs.operatecenter.entity.vo.homemodule.HomeModuleVo">
	   SELECT
		cthm.*
		FROM
		cms_template_homeinfo_module_fun_pc_relate cthmr
		LEFT JOIN cms_template_homemodule cthm ON cthm.id = cthmr.module_id
		LEFT JOIN cms_template_homeinfo cthi ON cthi.id = cthmr.home_id
		WHERE
		cthi.book_id = #{bookId}
		AND cthi.home_grade = #{grade}
		AND cthi.region = #{region}
		AND cthm.`status` = 'YES'
		ORDER BY
		cthm.module_type,
		cthm.sort

   </select>

</mapper>